@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(89, 79, 79);
    color: whitesmoke;
}

.titleBar {
    text-align: center;
    color:rebeccapurple;
}
